.container {
  width: 100%;
  padding: 1rem 5rem;
  margin: 3rem auto 6rem;
  background-color: #181d31;
  color: #caf0f8;
}

.header {
  display: flex;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  align-items: center;
  background-image: url("../public/images/maldives.jpg");
  color: #caf0f8;
  border: rgb(5, 85, 146) solid 1rem;
  border-radius: 20px;
  width: 100%;
}

.backToHome {
  margin: 3rem 0 0;
  color: #caf0f8;
}

@media (max-width: 600px) {
 
  .container {
    width: 100%;
    padding: 1rem 3rem;
    margin: 1rem auto 1rem;
    background-color: #181d31;
    color: #caf0f8;
  }
}

@media (max-width: 1000px) {
 
  .container {
    width: 100%;
    padding: 1rem 2rem;
    margin: 1rem auto 1rem;
    background-color: #181d31;
    color: #caf0f8;
  }
}