html,
body {
  padding: 0;
  margin: 0;
  font-family: "Caveat", cursive !important;
  font-family: "Fuzzy Bubbles", cursive !important;
  line-height: 1.6;
  font-size: 18px;
  background-color: #181d31;
 align-content: center;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(5, 85, 146);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}